/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Color variables */
:root {
    --viridian: #5D896Dff;
    --gunmetal: #14242Dff;
    --licorice: #291812ff;
    --tigers-eye: #B47021ff;
    --eerie-black: #21251Dff;
    --ivory: #fef1cf;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: var(--gunmetal);
    color: var(--ivory);
    margin: 0;
    padding: 0;
}

/* General container styles */
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 100vw;
    padding: 20px;
}

.container div {
    margin: 10px;
    flex-shrink: 0;
}

.container img {
    width: 100%;
    height: auto;
}

/* About page container styles */
.container-about-img {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.container-about-img div {
    flex-basis: calc(50% - 20px);
    margin: 10px;
}

.container-about-img img {
    width: 100%;
    height: auto;
}

.container-about-img-box1,
.container-about-img-box2 {
    display: flex;
}

/* About page text container styles */
.container-about {
    display: flex;
}

.container-about-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 280px;
    min-width: 250px;
}

/* Page container styles */
.page-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 1200px;
    /* Adjust the maximum width as needed */
    padding: 20px;
}

/* Product styles */
.product {
    padding: 10px;
    margin: 10px;
}

.product h2,
.product p {
    margin: 10px;
    padding: 0;
}

.product-price {
    color: var(--tigers-eye);
    font-weight: bold;
}

.product-description {
    color: var(--tigers-eye);
}

/* Color styles */
.primary-color {
    color: var(--gunmetal);
}

.secondary-color {
    color: var(--tigers-eye);
}

/* Contact container styles */
.contact-container {
    display: flex;
    justify-content: space-between;
}

.title-heavy-container,
.welcome-container,
.heavy-guild-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-container .left,
.contact-container .right {
    flex-basis: calc(50% - 20px);
}

.contact-container .left {
    margin-right: 20px;
}

.contact-container h2,
.contact-container p {
    margin: 0 0 10px 0;
    padding: 0;
}

.contact-container .hours {
    margin-bottom: 20px;
}

.contact-container .menu {
    list-style-type: none;
    padding: 0;
}

.container-contact .menu li {
    margin-bottom: 100px;
}

.contact-container .menu li a {
    color: var(--ivory);
    text-decoration: none;
}

/* Error page styles */
.error-page {
    text-align: center;
    padding: 50px 0;
}

.error-page img {
    width: 200px;
    height: auto;
}

.error-page h1 {
    font-size: 48px;
    color: var(--gunmetal);
}

.error-page p {
    color: var(--tigers-eye);
}

/* Heavy guild text styles */
.heavy-guild {
    font-size: 175px;
    font-weight: bolder;
    align-self: flex-start;
    margin-top: -40px;
    margin-bottom: 0px;
}

/* Main title styles */
.main-title {
    font-size: 50px;
    font-weight: bold;
    margin-left: 20px;
    margin: 0px;
}

/* Slogan styles */
.slogan {
    display: flex;
    align-items: flex-start;
    margin-top: -20px;
    font-size: 24px;
    font-weight: bold;
    color: var(--tigers-eye);
}

/* Section styles */
.section {
    scroll-snap-align: start;
}

/* Store styles */
.store {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.store-feature {
    display: flex;
    align-items: flex-start;
    margin-left: 75px;
    font-size: 50px;
}

/* Smooth scrolling styles */
body {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: var(--viridian);
    color: var(--gunmetal);
}

header img {
    height: auto;
    border-radius: 50%;
    width: 50px;
}

/* Navigation styles */
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: var(--ivory);
    text-decoration: none;
}

/* Session welcome styles */
.session_welcome {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* Align to the right side */
}

nav ul li a.active {
    display: none;
}

/* Main image styles */
main img {
    width: 100%;
    height: auto;
}

/* Container paragraph link styles */
.container p a {
    color: var(--tigers-eye);
    text-decoration: none;
}

/* Login page container styles */
.login-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--gunmetal);
}

/* Login form styles */
.login-form {
    background-color: var(--licorice);
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-title {
    margin-bottom: 20px;
    text-align: center;
}

.login-label {
    display: block;
    margin-top: 10px;
}

.login-input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.show-password {
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
    color: var(--viridian);
    text-decoration: underline;
}

.login-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: var(--viridian);
    color: var(--ivory);
    border: none;
    border-radius: 5px;
}

.forgot-password {
    margin-top: 10px;
    text-align: right;
}

.signup-link {
    text-align: center;
    margin-top: 20px;
}

/* About page container styles (repeated) */
.container {
    display: flex;
}

.container div {
    flex-basis: 23%;
    box-sizing: border-box;
    padding: 10px;
}

.container img {
    width: 100%;
    height: auto;
    display: block;
}

/* Media queries */
@media (min-width: 576px) {

    .container,
    .container div,
    .container img,
    .contact-container,
    .error-page {
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
}

@media (min-width: 768px) {

    .container,
    .contact-container,
    .error-page {
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
}

@media (min-width: 992px) {

    .container,
    .container div,
    .container img,
    .contact-container,
    .error-page {
        padding: 30px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
}

@media (min-width: 1200px) {

    .container,
    .contact-container,
    .error-page {
        padding: 40px;
    }
}