/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Color variables */
:root {
    --viridian: #5d896dff;
    --gunmetal: #14242dff;
    --licorice: #291812ff;
    --tigers-eye: #b47021ff;
    --eerie-black: #21251dff;
    --ivory: #fef1cf;
}

/* Body styles */
body {
    cursor: none;
    font-family: Arial, sans-serif;
    background-color: var(--gunmetal);
    color: var(--ivory);
    margin: 0;
    padding: 0;
}

.custom-cursor {
    width: 50px;
            /* Adjust size as needed */
    height: 50px;
            /* Adjust size as needed */
    position: fixed;
    top: 0;
            /* Adjust position as needed */
    left: 0;
            /* Adjust position as needed */
    pointer-events:none;
            /* Ensure cursor doesn't interfere with clickable elements */
    z-index: 9999;
            /* Ensure cursor is on top of other elements */
    background-image: url(pokemon-coffee-ditto-animated-custom-cursor.gif);
            /* Replace with your cursor image path */
    background-size: cover;
            /* Maintain aspect ratio of cursor image */
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: var(--viridian);
    color: var(--gunmetal);
}

header img {
    height: auto;
    border-radius: 50%;
    width: 100px;
}

/* Navigation styles */
nav ul {
    list-style-type: none;
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: var(--ivory);
    text-decoration: none;
    align-content: flex-end;
}

/* Main image styles */
main img {
    width: 100%;
    height: auto;
}

/* Container paragraph link styles */
.container p a {
    color: var(--tigers-eye);
    text-decoration: none;
}

/* About content styles */
.about-content {
    max-width: max-content;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

/* About page container styles */
    

.about-container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 100vw;
    padding: 20px;
    margin-left: 200px;
    margin-right: 200px;

}

.about-container div {
    flex-basis: 23%;
    box-sizing: border-box;
    padding: 10px;
}
    .row1,
    .row2 {
        padding: 30px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .row1{
        justify-content: space-between;
        width: 100%;
        height: 250px;
        padding: 20px;
    }
    .row1 h1{
        font-size: 50px;
        font-weight: 2000;
    }
    .row2{
        display: flex;
        justify-content: space-evenly;
    }

.left-column,
.right-column {
    min-width: 50%;
    /* Adjust width of columns */
    padding: 20px;
    box-sizing: border-box;
}

.left-column {
    display: flex;
    flex-direction: column;
    width: 1000px;
}

.left-column h3{
    padding-top:10px;
    padding-bottom: 2px;
}

.left-column img {
    width: 80%;
    height: auto;
    display: block;
    
}

.about-story{
    text-align: left;
    line-height: 1.5;
    width: 1000px;
}

.right-column {
    justify-content: flex-start;
    align-content: flex-start;
}
.about-imgBlock{
    display: flex;
    flex-direction: column;
    min-height: 800px;
}
.right-column img{
    width: 80%;
    height: auto;
    display: block;
}

.about-textBlock {
    flex-wrap: wrap;
    min-width: 50%;
    height: 250px;
    line-height: 1.25;
    text-align: justify;
}

/* General container styles */
.container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 100vw;
    padding: 20px;
}

.container div {
    margin: 10px;
    flex-shrink: 0;
}

.container img {
    width: 75%;
    height: auto;
}
.container-about-img{
    display: flex;
    align-content: flex-start;
}
.container-about-img img {
    display: flex;
    width: 100%;
    height: auto;
}

.container-about-img-box1,
.container-about-img-box2 {
    display: flex;
    max-width: 20%;
    margin-right: 200px;
    margin-left: 20px;
}

/* About page text container styles */
.container-about {
    display: flex;
    padding: 20px;
    justify-items: center;
}

.container-about-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 250px;
}

/* Page container styles */
.page-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 2400px;
    /* Adjust the maximum width as needed */
    padding: 20px;
}

/* Product styles */
.product {
    padding: 10px;
    margin: 10px;
    max-width: 24%;
}

.product h2,
.product p {
    margin: 10px;
    padding: 0;
}

.product-price {
    color: var(--tigers-eye);
    font-weight: bold;
}

.product-description {
    color: var(--tigers-eye);
}

/* Color styles */
.primary-color {
    color: var(--gunmetal);
}

.secondary-color {
    color: var(--tigers-eye);
}

/* Contact container styles */
.contact-container {
    display: flex;
    justify-content: space-between;
}

.title-heavy-container,
.welcome-container,
.heavy-guild-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-container .left,
.contact-container .right {
    flex-basis: calc(50% - 20px);
}

.contact-container .left {
    margin-right: 20px;
}

.contact-container h2,
.contact-container p {
    margin: 0 0 10px 0;
    padding: 0;
}

.contact-container .hours {
    margin-bottom: 20px;
}

.contact-container .menu {
    list-style-type: none;
    padding: 0;
}

.container-contact .menu li {
    margin-bottom: 100px;
}

.contact-container .menu li a {
    color: var(--ivory);
    text-decoration: none;
}

/* Error page styles */
.error-page {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 50px 0;
}

.errorImg img {
    display: flex;
    flex-direction: column;
    padding: 15px;
    max-width: max-content;
    height: auto;
}

.errorMsg p{
    color: var(--tigers-eye);
    text-align: left;
    line-height: 1.5;
    padding-bottom: 10px;
}

.errorImg a:link {
    color: var(--ivory)
}

.error-page h1 {
    font-size: 48px;
    color: var(--tigers-eye);
}

.error-page p {
    color: var(--tigers-eye);
}

/* Heavy guild text styles */
.heavy-guild {
    font-size: 175px;
    font-weight: bolder;
    align-self: flex-start;
    margin-top: -40px;
    margin-bottom: 0px;
}

/* Main title styles */
.main-title {
    font-size: 50px;
    font-weight: bold;
    margin-left: 20px;
    margin: 0px;
}

/* Slogan styles */
.slogan {
    display: flex;
    align-items: flex-start;
    margin-top: -20px;
    font-size: 24px;
    font-weight: bold;
    color: var(--tigers-eye);
}

/* Section styles */
.section {
    scroll-snap-align: start;
}

/* Store styles */
.store {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.store-feature {
    display: flex;
    align-items: flex-start;
    margin-left: 75px;
    font-size: 50px;
}
.storePageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.storePageContainer h2{
    font-size: 40px;
}

.storeImgcontainer {
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 350px;
    height: 350px;
    position: relative;
    object-fit: cover;
    color: var(--tigers-eye);
}

.hover-Pink,
.hover-Metal,
.hover-Terra,
.hover-White {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 350px;
    width: 350px;
    opacity: 0;
    transition: .5s ease;
    transition-delay: .3s;
}

.storeImgcontainer:hover .hover-Pink,
.storeImgcontainer:hover .hover-Metal,
.storeImgcontainer:hover .hover-Terra,
.storeImgcontainer:hover .hover-White {
    padding: 25px;
    height: 350px;
    width: 350px;
    opacity: 1;
    animation: spin .8s linear;
    /* Apply spinning animation */
}

@keyframes spin {
    from {
        transform: rotateY(180deg);
        /* Rotate from 360 degrees */
    }

    to {
        transform: rotateY(0deg);
        /* Rotate to 0 degrees */
    }
}

.containersDrippers {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 100px;
}
.containersCoffee {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 100px;
}

.button--tertiary {
    display: block;
        width: 10%;
        padding: 10px;
        background-color: var(--viridian);
        color: var(--ivory);
        border: none;
        border-radius: 5px;
}

#coffees {
    display: flex;
    flex-direction: row;
    max-height: 50%;
}
#coffees img {
    width: 75%;
    height: auto;
}

/* Smooth scrolling styles */
body {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: var(--viridian);
    color: var(--gunmetal);
}

header img {
    height: auto;
    border-radius: 50%;
    width: 100px;
}

/* Navigation styles */
nav ul {
    list-style-type: none;
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: var(--ivory);
    text-decoration: none;
    align-content: flex-end;
}

/* Session welcome styles */
.session_welcome {
    color: var(--ivory);
    font-size: small;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

nav ul li a.active {
    display: none;
}

/* Main image styles */
main img {
    width: 100%;
    height: auto;
}

/* Container paragraph link styles */
.container p a {
    color: var(--tigers-eye);
    text-decoration: none;
}

/* Login page container styles */
.login-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--gunmetal);
}

/* Login form styles */
.login-form {
    background-color: var(--licorice);
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-title {
    margin-bottom: 20px;
    text-align: center;
}

.login-label {
    display: block;
    margin-top: 10px;
}

.login-input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.show-password {
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
    color: var(--viridian);
    text-decoration: underline;
}

.login-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: var(--viridian);
    color: var(--ivory);
    border: none;
    border-radius: 5px;
}

.forgot-password {
    margin-top: 10px;
    text-align: right;
}

.signup-link {
    text-align: center;
    margin-top: 20px;
}
.signup-link a:link  {
    color: var(--tigers-eye)
}

.response-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: var(--viridian);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    margin: 250px;
    padding: 200px;
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.response-container h2 {
    color: var(--ivory);
}

.response-container p {
    color: var(--eerie-black);
}

.response-container a {
    color: var(--ivory);
    text-decoration: none;
}

.account-heading {
    display: flex;
    justify-content: center;
}
.account-row2{
    display: flex;
    flex-direction: column;
}
.account-row2-col{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}
.account-row2-col1, .account-row2-col2{
    display: flex;
        justify-content: center;
        padding: 20px;
        flex-direction: column;
        align-items: baseline;
}
.account-row2-col1 h2, .account-row2-col2 h2{
    padding-bottom: 20px;
}

.account-user{
    display: flex;
    align-items: center;
    justify-content: center;
}
.account-linkHome{
    display: flex;
    justify-content: center;
}

/* Media queries */
@media (min-width: 576px) {

    .container,
    .container div,
    .container img,
    .contact-container,
    .error-page {
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

}

@media (min-width: 768px) {

    .container,
    .contact-container,
    .error-page {
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
}

@media (min-width: 992px) {

    .container,
    .contact-container,
    .error-page {
        padding: 30px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .about-container{
        padding: 30px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

    }
    .row1,.row2 {
                padding: 30px;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
    }

    /* Adjusted width for about-content */
    .about-content {
        min-width: 800px;
        /* Adjusted width */
        margin-left: 30px;
        /* Adjusted margin */
        margin-right: 30px;
        /* Adjusted margin */
    }
}

@media (min-width: 1200px) {

    /* Adjusted width for about-content */
    .about-content {
        min-width: 1500px;
        /* Adjusted width */
        margin-left: 30px;
        /* Adjusted margin */
        margin-right: 30px;
        /* Adjusted margin */
    }

    .container,
    .contact-container,
    .error-page {
        padding: 40px;
    }
    .about-container{
        padding: 40px;
    }

}